<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no">
    <meta charset="utf-8">
    <title>Pothole Test</title>
    <style>
      #map {
        height: 100%;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
    </style>
  </head>
  <body>
    <div id="map"></div>
    <script>

      function initMap() {
        var map = new google.maps.Map(document.getElementById('map'), {
          zoom: 15,
          center: {lat: 12.8873, lng: 77.7478},
          mapTypeId: 'terrain'
        });
        var marker = new google.maps.Marker({
            position: {lat:{{ latArray[0] }}, lng:{{ lngArray[0] }}},
            map: map,
            title: '{{ potholeDepth[0] }}'
        });
        var polyLineCoords = [];
            {%for i in range(0,lenArray)%}
                polyLineCoords.push({lat:{{latArray[i]}}, lng:{{lngArray[i]}}});
            {%endfor%}

        var theLine = new google.maps.Polyline({
          path: polyLineCoords,
          geodesic: true,
          strokeColor: '{{ strokeColour }}',
          strokeOpacity: 1.0,
          strokeWeight: 4
        });

        theLine.setMap(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?v=3key=AIzaSyAdyny3ENc6xVwRj-SwphWdUuGfesd_qgY&callback=initMap">
    </script>
  </body>
</html>
